<%- include("partials/header"); -%>
<!-- Title -->
<div class="container">
        <div class="row justify-content-start">
                <div class="col-4">
                        <h1 class="landing-text">Meet interesting spiritual seeker here.</h1>
                </div>
                <div class="col-8">
                        <img src="images/krishna_playing2.jpg" alt="" class="rounded img-fluid" alt="Responsive image">
                </div>
        </div>
</div>

</section>


<!-- Features -->

<section id="features">

        <div class="container px-4 py-5" id="featured-3">
                <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                        <div class="feature col">
                                <div class="feature-icon bg-primary bg-gradient">
                                        <i class="icon fas fa-check-circle fa-4x"></i>
                                </div>
                                <h2>Easy to use</h2>
                                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                        </div>
                        <div class="feature col">
                                <div class="feature-icon bg-primary bg-gradient">
                                </div>
                                <h2>Free service</h2>
                                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                        </div>
                        <div class="feature col">
                                <div class="feature-icon bg-primary bg-gradient">

                                </div>
                                <h2>Other devotees needs you</h2>
                                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                        </div>
                </div>
        </div>

</section>


<!-- Testimonials -->

<section id="testimonials">


        <div id="mycarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                        <button type="button" data-bs-target="#mycarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#mycarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#mycarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">


                        <div class="carousel-item active" data-bs-interval="5000">
                                <img src="images/lady-img.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                        <h5>Aleena</h5>
                                        <p>I feel all the contents here are very helpful and spiritual.</p>
                                </div>
                        </div>


                        <div class="carousel-item" data-bs-interval="5000">
                                <img src="images/testimonial2.jpeg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                        <h5>Alex</h5>
                                        <p>I am much more confident for my life now, God is always withme.</p>
                                </div>
                        </div>


                        <div class="carousel-item" data-bs-interval="10000">
                                <img src="images/testimonial3.jpeg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                        <h5>Sudhirgopal and Kausalya</h5>
                                        <p>It was wonderful learning exoerience, ecpecially reciting out ancient slokas which great mystic yogis and sadhus have written thousands of years ago.</p>
                                </div>
                        </div>


                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#mycarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#mycarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                </button>
        </div>


</section>



<!-- Pricing -->

<section id="pricing">

        <h2>A Plan for Everyone's Needs</h2>
        <p>Simple and affordable price plans for you.</p>

        <div class="row">

                <div class="pricing-column col-lg-4 col-md-6">
                        <div class="card">
                                <div class="card-header">
                                        <h3>Level - 1</h3>
                                </div>
                                <div class="card-body">
                                        <h2>Free</h2>
                                        <p>5 Questions Per Day</p>
                                        <p>play this game</p>
                                        <p> . </p>
                                        <button class="btn btn-lg btn-outline-primary" type="button">Sign Up</button>
                                </div>
                        </div>
                </div>


                <div class="pricing-column col-lg-4 col-md-6">
                        <div class="card">
                                <div class="card-header">
                                        <h3>Level - 2</h3>
                                </div>
                                <div class="card-body">
                                        <h2>₹99 / mo</h2>
                                        <p>Unlimited Questions</p>
                                        <p>Play any Game</p>
                                        <p> . </p>
                                        <button class="btn btn-lg btn-outline-primary" type="button" >Sign Up</button>
                                </div>
                        </div>
                </div>



                <div class="pricing-column col-lg-4 col-md-6">
                        <div class="card">
                                <div class="card-header">
                                        <h3>Level - 3</h3>
                                </div>
                                <div class="card-body">
                                        <h2>₹199 / mo</h2>
                                        <p>Play any Game</p>
                                        <p>Unlimited Question</p>
                                        <p>Talk with a monk</p>
                                        <button class="btn btn-lg btn-outline-primary" type="button">Sign Up</button>
                                </div>
                        </div>
                </div>

        </div>

</section>
<%- include("partials/footer"); -%>
