<%- include("partials/header"); -%>

<main class="container">
        <div class="p-3 p-md-3 mb-4 text-white rounded bg-dark">
                <div class="col-md-6 px-0">
                        <h1 class="display-4 fst-italic">Tit for tat</h1>
                </div>
        </div>

        <div class="col-md-12">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-primary">World</strong>
                                <h3 class="mb-0">Featured post</h3>
                                <div class="mb-1 text-muted">Nov 12</div>
                                <p class="card-text mb-auto">The camel and the fox were very good friends and very good thieves. One day, the two friends decided to cross the river so that they could travel to a nearby farm to steal food. The small
                                        fox could not swim so the camel said to his friend, ‘Climb up onto my back and I will swim across the river.’</p>
                                <hr>
                                <p class="card-text mb-auto">And so the fox climbed up onto the camel’s back and the strong camel swam across the river to the other side.

                                        When they had crossed the river, the camel and the fox made their way to the farm. When they finally arrived at the farm, the fox caught herself a chicken while the camel dug up some lovely fresh vegetables.

                                        The greedy fox quickly gobbled down her chicken and then said to her friend the camel, ‘When I finish eating I am accustomed to singing.’

                                        ‘Do not sing just yet,’ said the camel as he was chewing on his dinner of vegetables. ‘I have not yet finished eating and if you sing then the farmer will hear you. Let me first finish my dinner and then you
                                        can sing as we make our way back home.’</p>
                                <hr>
                                <p class="card-text mb-auto">But the fox did not pay any attention to her friend and began to sing at the top of her voice. The farmer soon heard this singing and came running out of his house waving a large stick.

                                        ‘I will teach you to steal from me!’ exclaimed the angry farmer.

                                        Because the fox was so small and nimble, she was able to run away from the farmer. But the poor camel was very slow, and still in the middle of eating his dinner, and so he did not see the farmer until it was
                                        too late.

                                        The angry famer set upon the camel with his large stick and the poor camel received many blows to his legs and back before he was finally able to escape.</p>
                                <hr>
                                <p class="card-text mb-auto">When the camel reached the river, his bones ached and he was very upset with his friend the fox.

                                        ‘Why did you sing when you knew that farmer would hear you and you could see that I was still eating my dinner?’ asked the camel.

                                        ‘Because it is my custom,’ replied the fox in her matter-of-fact way. ‘Now let me climb upon your back so that we may return to our home across the river.’

                                        Then the camel walked slowly down the riverbank into the water and began to swim across to the other side with the fox upon his back.

                                        When the camel was halfway across the river, at the point where the water was at its deepest and the current at its fastest, he stopped swimming and said to the fox, ‘When I have finished eating I am accustomed
                                        to taking a bath.’</p>
                                <hr>
                                <p class="card-text mb-auto">‘Do not take a bath!’ pleaded the fox. ‘I cannot swim and if you take a bath I shall drown!’

                                        ‘I am very sorry,’ said the camel, ‘but I always take a bath after I have eaten. It is my custom.’

                                        And with that the camel lowered his back into the deep water until the fox lost her grip on his back and began to splash around helplessly against the fast current.

                                        ‘Help me!’ cried the desperate fox. ‘I am drowning, I am drowning!’

                                        The camel asked the fox, ‘Are you sorry that you were so selfish and caused me to be beaten by the farmer?’

                                        ‘Yes, yes, I am truly sorry!’ cried the fox just before her head disappeared once more beneath the surface of the water.</p>
                                <hr>
                                <p class="card-text mb-auto">The camel did not have the heart to watch his friend drown in the river and so he pulled the little fox out of the water and placed her upon his back. Then the camel swam the rest of the
                                        way across the river and climbed up the bank and onto the warm grass.

                                        The fox realised that she had been very selfish and said to her friend, ‘I am so sorry for what I did and I promise that you can trust me forever and that is that.’

                                        ‘And I am sorry that I had to teach you a lesson today, but many times in life it is often a case of tit for tat.’

                                        Then the two friends began to laugh and roll around in the warm grass while the sunshine dried their wet fur. The fox had learned a valuable lesson that day. She had learned that it was not good to betray a
                                        friend, and that if you do wrong by somebody then somebody might well do wrong by you. It was indeed a lesson of tit for tat.</p>
                                <hr>
                        </div>

                </div>
        </div>










        <div class="container mt-5">
                <div class="d-flex justify-content-center row">
                        <div class="col-md-10 col-lg-10">
                                <div class="border">
                                        <div class="question bg-white p-3 border-bottom">
                                                <div class="d-flex flex-row justify-content-between align-items-center mcq">
                                                        <h4>MCQ Quiz</h4><span>(5 Ques)</span>
                                                </div>
                                        </div>
                                        <div class="question bg-white p-3 border-bottom">
                                                <div class="d-flex flex-row align-items-center question-title">
                                                        <h3 class="text-danger">Q.</h3>
                                                        <h5 class="mt-1 ml-2">Which of the following country has largest population?</h5>
                                                </div>
                                                <div class="ans ml-2">
                                                        <label class="radio"> <input type="radio" name="brazil" value="brazil"> <span>Brazil</span>
                                                        </label>
                                                </div>
                                                <div class="ans ml-2">
                                                        <label class="radio"> <input type="radio" name="Germany" value="Germany"> <span>Germany</span>
                                                        </label>
                                                </div>
                                                <div class="ans ml-2">
                                                        <label class="radio"> <input type="radio" name="Indonesia" value="Indonesia"> <span>Indonesia</span>
                                                        </label>
                                                </div>
                                                <div class="ans ml-2">
                                                        <label class="radio"> <input type="radio" name="Russia" value="Russia"> <span>Russia</span>
                                                        </label>
                                                </div>
                                        </div>
                                        <div class="question bg-white p-3 border-bottom">
                                                <div class="d-flex flex-row align-items-center question-title">
                                                        <h3 class="text-danger">Q.</h3>
                                                        <h5 class="mt-1 ml-2">Which of the following country has largest population?</h5>
                                                </div>
                                                <div class="ans ml-2">
                                                        <label class="radio"> <input type="radio" name="brazil" value="brazil"> <span>Brazil</span>
                                                        </label>
                                                </div>
                                                <div class="ans ml-2">
                                                        <label class="radio"> <input type="radio" name="Germany" value="Germany"> <span>Germany</span>
                                                        </label>
                                                </div>
                                                <div class="ans ml-2">
                                                        <label class="radio"> <input type="radio" name="Indonesia" value="Indonesia"> <span>Indonesia</span>
                                                        </label>
                                                </div>
                                                <div class="ans ml-2">
                                                        <label class="radio"> <input type="radio" name="Russia" value="Russia"> <span>Russia</span>
                                                        </label>
                                                </div>
                                        </div>
                                        <div class="question bg-white p-3 border-bottom">
                                                <div class="d-flex flex-row align-items-center question-title">
                                                        <h3 class="text-danger">Q.</h3>
                                                        <h5 class="mt-1 ml-2">Which of the following country has largest population?</h5>
                                                </div>
                                                <div class="ans ml-2">
                                                        <label class="radio"> <input type="radio" name="brazil" value="brazil"> <span>Brazil</span>
                                                        </label>
                                                </div>
                                                <div class="ans ml-2">
                                                        <label class="radio"> <input type="radio" name="Germany" value="Germany"> <span>Germany</span>
                                                        </label>
                                                </div>
                                                <div class="ans ml-2">
                                                        <label class="radio"> <input type="radio" name="Indonesia" value="Indonesia"> <span>Indonesia</span>
                                                        </label>
                                                </div>
                                                <div class="ans ml-2">
                                                        <label class="radio"> <input type="radio" name="Russia" value="Russia"> <span>Russia</span>
                                                        </label>
                                                </div>
                                        </div>
                                        <div class="question bg-white p-3 border-bottom">
                                                <div class="d-flex flex-row align-items-center question-title">
                                                        <h3 class="text-danger">Q.</h3>
                                                        <h5 class="mt-1 ml-2">Which of the following country has largest population?</h5>
                                                </div>
                                                <div class="ans ml-2">
                                                        <label class="radio"> <input type="radio" name="brazil" value="brazil"> <span>Brazil</span>
                                                        </label>
                                                </div>
                                                <div class="ans ml-2">
                                                        <label class="radio"> <input type="radio" name="Germany" value="Germany"> <span>Germany</span>
                                                        </label>
                                                </div>
                                                <div class="ans ml-2">
                                                        <label class="radio"> <input type="radio" name="Indonesia" value="Indonesia"> <span>Indonesia</span>
                                                        </label>
                                                </div>
                                                <div class="ans ml-2">
                                                        <label class="radio"> <input type="radio" name="Russia" value="Russia"> <span>Russia</span>
                                                        </label>
                                                </div>
                                        </div>
                                        <div class="question bg-white p-3 border-bottom">
                                                <div class="d-flex flex-row align-items-center question-title">
                                                        <h3 class="text-danger">Q.</h3>
                                                        <h5 class="mt-1 ml-2">Which of the following country has largest population?</h5>
                                                </div>
                                                <div class="ans ml-2">
                                                        <label class="radio"> <input type="radio" name="brazil" value="brazil"> <span>Brazil</span>
                                                        </label>
                                                </div>
                                                <div class="ans ml-2">
                                                        <label class="radio"> <input type="radio" name="Germany" value="Germany"> <span>Germany</span>
                                                        </label>
                                                </div>
                                                <div class="ans ml-2">
                                                        <label class="radio"> <input type="radio" name="Indonesia" value="Indonesia"> <span>Indonesia</span>
                                                        </label>
                                                </div>
                                                <div class="ans ml-2">
                                                        <label class="radio"> <input type="radio" name="Russia" value="Russia"> <span>Russia</span>
                                                        </label>
                                                </div>
                                        </div>
                                        <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white">
                                                <button class="btn btn-primary d-flex align-items-center btn-danger" type="button"><i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous Story</button>
                                                <button class="btn btn-primary border-success align-items-center btn-success" type="button">Next Story<i class="fa fa-angle-right ml-2"></i></button>
                                        </div>
                                        <button class="mt-1 mb-1 w-100 btn btn-md btn-info">Submit</button>
                                </div>
                        </div>
                </div>
        </div>

</main>

<%- include("partials/footer"); -%>
